{% extends "layout.html" %}
{% block head %}
<title>
Edit listing
</title>
<meta name="description" content="Edit user submission">
<link rel="stylesheet" href="/static/css/submit.css">
{% endblock %}
{% block body %}
<div id="header" class='banner'>
  <div class="container">
    {% if edit %}
      <h1>Edit listing for {{listing.address}}</h1>
    {% else %}
      <h1>Step 2</h1>
      <p class='lead muted'>{{address}}</p>
    {% endif %}
  </div>
</div>
<div class='submit'>
  <div class="container">
    <form data-validate="parsley" class="form-horizontal" method="post" action="/admin/listing/{{listing.id}}/edit">
      {% include "submission-form.html" %}
      <div class="control-group">
        <div class="controls">
          <button id="create-account" type="submit" class="btn btn-primary">Update listing</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry"></script>
<script src="{{url_for('static', filename='js/submit.js')}}"></script>
<script src="{{url_for('static', filename='js/vendor/parsley.js')}}"></script>
{% endblock %}
