{% extends "layout.html" %}
{% block head %}
<title>Edit your submission</title>
<meta name="description" content="Edit your submission">
    <link rel="stylesheet" href="/static/css/submit.css">
{% endblock %}
{% block body %}
<div id="header" class='banner'>
  <div class="container">
    <h1>Edit listing for {{listing.address}}</h1>
  </div>
</div>
<div class='submit'>
  <div class="container">
    <form class="form-horizontal" method="post" action="/submission/{{token.key}}/edit">
      {% include "submission-form.html" %}
      <div class="control-group">
        <div class="controls">
          <button id="create-account" type="submit" class="btn btn-primary">Update listing</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry"></script>
<script src="{{url_for('static', filename='js/submit.js')}}"></script>
<script>
</script>
{% endblock %}
