{% extends "layout.html" %}
{% block head %}
<title>Submit a new listing</title>
<meta name="description" content="Submit a new listing">
    <link rel="stylesheet" href="/static/css/submit.css">
{% endblock %}
{% block body %}
<div id="header" class='banner'>
  <div class="container">
    <h1>Edit listing for {{address}}</h1>
  </div>
</div>
<div class='submit'>
  <div class="container">
    <form class="form-horizontal" method="post" action="/admin/listing/{{listing.id}}/edit">
      <input type="hidden" name="address" value="{{address}}">
      <input type="hidden" name="latitude" value="{{lat}}">
      <input type="hidden" name="longitude" value="{{lon}}">
      <div class="control-group error">
        <span class="help-block">{{error}}</span>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputName">Name *</label>
        <div class="controls">
          <input type='text' name="name" maxlength="100" id="inputName" value="{{name}}" placeholder="Quiet space near the water"></textarea>
          <span class="help-inline">This name will appear in user searches, so make it descriptive. (max 100 characters)</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputType">Space type *</label>
        <div class="controls">
          <select name="space_type" id="inputType">
            {% for type in types %}   
              <option value='{{type.id}}' {% if type == space_type %}selected='selected'{%endif%}>{{type.name}}</option>
            {% endfor %}
          </select>
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPrice">Price *</label>
        <div class="controls">
          <input type="text" value="{{price}}" name="price" id="inputPrice" placeholder="100">
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputDescription">Description</label>
        <div class="controls">
          <textarea name="description" id="inputDescription" class='span5' rows="10" cols="40" placeholder="Suggestions: size, amenities, parking, shared/private space, wifi/internet access, availability, etc. Use this description to sell your space!">{{description}}</textarea>
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button id="create-account" type="submit" class="btn btn-primary">Update listing</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry"></script>
<script src="{{url_for('static', filename='js/submit.js')}}"></script>
<script>
</script>
{% endblock %}
