{% extends "layout.html" %}
{% block head %}
    <title></title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/static/css/main.css">
{% endblock %}
{% block body %}
<div class='container'>
  <h2>Space currently available</h2>
  <p><em>Maryland Nonprofits has provided this FREE resource to assist nonprofit organizations with finding office, meeting, and other types of space.  To that end, we have tried to make this a user-friendly, self-service tool. Please read and follow all instructions carefully.  We have limited capacity to provide technical support.</em></p>
  <div id='listing-map'></div>
  <table cellpadding="0" cellspacing="0" border="0" id='available' class='table table-bordered table-striped'>
  <thead>
    <tr>  
      <th>
        Property
      </th>
      <th>
        Address
      </th>
      <th>
        Rate
      </th>
      <th>
        Space type 
      </th>
      <th>
        Submitted on 
      </th>
    </tr>  
  </thead>
  {% for listing in listings %}
    <tr>  
      <td>
        <a href='/listing/{{listing.id}}'>{{listing.name}}</a>
      </td>
      <td>
        {{listing.address}}
      </td>
      <td>
        {{listing.price|currency}} per {{listing.rate_type.name.lower()}}
      </td>
      <td>
        {{listing.space_type.name}}
      </td>
      <td>
        {{listing.created.date()}}
      </td>
    </tr>  
  {% endfor %}
  </table>
</div>
{% endblock %}
{% block scripts %}
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry"></script>
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
  <script src="/static/js/vendor/paging.js"></script>
  <script>
  $(document).ready(function(){
      $('#available').dataTable( {
        "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
        "sPaginationType": "bootstrap",
        "oLanguage": {
          "sEmptyTable": "There are no listings at this time."
        }
      });
      draw_listing_map([
        {%for listing in listings %}
          [{{listing.latitude}}, {{listing.longitude}}, "<h4>{{listing.name}}</h4><p class='muted'>{{listing.address}}</p><p><strong>Rate: </strong> {{listing.price|currency}} per {{listing.rate_type.name.lower()}}</p><p><strong>Space type: </strong> {{listing.space_type.name}}</p><a href='/listing/{{listing.id}}'>Read more &raquo;</a>"],
        {% endfor %}
      ]);
  });
  $.extend( $.fn.dataTableExt.oStdClasses, {
    "sWrapper": "dataTables_wrapper form-inline"
  } );
  </script>
    
{% endblock %}
