{% extends "layout.html" %}
{% block head %}
    <title></title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/static/css/listing.css">
{% endblock %}
{% block body %}
<div class='container'>
  <div class='row-fluid'>
    <div class='span7'>
      <h2>{{listing.name}}</h2>
      <h3 class='muted'>{{listing.address}}</h3>
      <hr />
      <p>
        <strong>Rate: </strong> {{listing.price|currency}} per {{listing.rate_type.name.lower()}}
      </p>
      <p>
        <strong>Type of space: </strong> {{listing.space_type.name}}
      </p>
      <p>
        <strong>Contact phone: </strong> {{listing.contact_phone|phone}}
      </p>
      {% if listing.contact_email %}
      <p>
        <strong>Contact phone: </strong> {{listing.contact_email|safe_email}}
      </p>
      {% endif %}
      <hr />
      <p>
        <span class='description'>{{listing.description}}</span>
      </p>
    </div>
    <div class='span5'>
      <div id='listing-map'>
        <img src="http://maps.googleapis.com/maps/api/staticmap?markers=|{{listing.latitude}},{{listing.longitude}}&size=360x360&zoom=14&sensor=false">
      </div>
    </div>
  </div>
  {% if listing.photos %}
  <hr />
  <div class='listing-photos'>
    <h3>Photos of the listing</h3>
    <p class='muted'><em>Click the photos for full-size</em></p>
    {%for row in listing.photos|batch(3) %}
      <div class='row-fluid photo-row'>
        {% for photo in row %}
        <div class='span4 photo-holder'>
          <div class='the-photo'>
            <a href="/images/{{photo.filename}}">
              <img src='/images/{{photo.thumbnail}}' />
            </a>
          </div>
        </div>
        {%endfor%}
      </div>
    {%endfor%}
  </div>
  {% endif %}
      <hr/>
      <p class='muted'>
        Listing created on {{listing.created.date()}}
      </p>
</div>
{% endblock %}
{% block scripts %}
  <script>
  </script>
    
{% endblock %}
