{% extends "layout.html" %}
{% block head %}
<title>Submit a new listing</title>
<meta name="description" content="Submit a new listing">
    <link rel="stylesheet" href="/static/css/submit.css">
{% endblock %}
{% block body %}
<div id="header" class='banner'>
  <div class="container">
    <h1>Submit a new listing</h1>
    <p class='lead'>All submissions must be approved by an administrator prior to appearing on the site.</p>
  </div>
</div>
<div class='submit'>
  <div class="container">
  <div class="row">
  <div class="span4">
    <form id='address' class="">
      <div class="control-group">
        <span class="help-block"></span>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputAddress">Address</label>
        <div class="controls">
          <input type="text" id="inputAddress" placeholder="Property Address">
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button id="lookup-address" type="submit" class="btn btn-primary">Look up address</button>
        </div>
      </div>
    </form>
  </div>
  <div id='map_canvas' class='span8'>
  </div>
  </div>
    <!--
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="inputLat">Latitude</label>
        <div class="controls">
          <input type="text" id="inputLat" placeholder="Latitude">
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputLon">Longitude</label>
        <div class="controls">
          <input type="text" id="inputLon" placeholder="Longitude">
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputType">Space type</label>
        <div class="controls">
          <input type="text" id="inputType" placeholder="office">
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPrice">Price</label>
        <div class="controls">
          <input type="text" id="inputPrice" placeholder="Free!">
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputDescription">Description</label>
        <div class="controls">
          <input type="text" id="inputDescription" placeholder="Crazy big">
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button id="create-account" type="submit" class="btn btn-primary">Submit your listing</button>
        </div>
      </div>
    </form>
    -->
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='js/submit.js')}}"></script>
<script>
  $('#address').submit(function(){
    codeAddress($('#inputAddress').val());
    return false;
  });
  /*
    var display_error = function(){
      $('.help-block').text("There was a problem with your submission");
      $('.help-block').parent().addClass("error");
    };
    $(document).ready(function(){
      $("#create-account").click(function(){
        $(".control-group").removeClass("error");
        $(".help-block").text("");
        address = $("#inputAddress").val();
        lat = $("#inputLat").val();
        lon = $("#inputLon").val();
        space_type = $("#inputType").val();
        price = $("#inputPrice").val();
        description = $("#inputDescription").val();
        $.ajax({
          type: 'POST',
          url: '/submit',
          data: {address: address, lat: lat, lon: lon, space_type: space_type, price: price, description: description},
          success:function(){
            window.location.href = "/";
          },
          error: display_error
        });
        return false;
      });
    });
  */
</script>
{% endblock %}
