{% extends "layout.html" %}
{% block head %}
<title>Submit a new listing</title>
<meta name="description" content="Submit a new listing">
    <link rel="stylesheet" href="/static/css/submit.css">
{% endblock %}
{% block body %}
<div id="header" class='banner'>
  <div class="container">
    <h1>Step 2</h1>
    <p class='lead muted'>{{address}}</p>
  </div>
</div>
<div class='submit'>
  <div class="container">
    <form class="form-horizontal" method="post" action="/submission/{{token.key}}/submit/step2">
      <input type="hidden" name="address" value="{{address}}">
      <input type="hidden" name="latitude" value="{{lat}}">
      <input type="hidden" name="longitude" value="{{lon}}">
      <div class="control-group error">
        <span class="help-block">{{error}}</span>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputName">Name *</label>
        <div class="controls">
          <input type='text' name="name" maxlength="100" id="inputName" value="{{name}}" placeholder="Quiet space near the water"></textarea>
          <span class="help-inline">This name will appear in user searches, so make it descriptive. (100 characters max)</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputType">Space type *</label>
        <div class="controls">
          <select name="space_type" id="inputType">
            {% for type in types %}   
              <option value='{{type.id}}' {% if type == space_type %}selected='selected'{%endif%}>{{type.name}}</option>
            {% endfor %}
          </select>
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPrice">Rate *</label>
        <div class="controls">
          <input type="text" value="{{price}}" name="price" id="inputPrice" placeholder="100"> per
          <select name="rate_type" id="inputRate">
            {% for type in rate_types %}   
              <option value='{{type.id}}' {% if type == rate_type %}selected='selected'{%endif%}>{{type.name}}</option>
            {% endfor %}
          </select>
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputDescription">Description (1500 characters max) *</label>
        <div class="controls">
          <textarea name="description" id="inputDescription" class='span5' maxlength='1500' rows="10" cols="40" placeholder="Suggestions: size, amenities, parking, shared/private space, wifi/internet access, availability, etc. Use this description to sell your space!">{{description}}</textarea>
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputADA">This space is...</label>
        <div class="controls">
          <label class='radio'><input type='radio' name='ada_accessible' value='yes' checked> ADA accessible</label>
          <label class='radio'><input type='radio' name='ada_accessible' value='no'> not ADA accessible</label>
          <span class="help-inline"></span>
        </div>
      </div>
      <hr />
      <div class="control-group">
        <label class="control-label" for="inputDescription">How long should your listing stay active?</label>
        <div class="controls">
          <select name="expires_in_days" id="expiration">
            {% for days in [15, 30, 90, 180, 365] %}   
              <option value='{{days}}' {% if days == 90 %}selected='selected'{%endif%}>{{days}} days</option>
            {% endfor %}
          </select>
          <span class="help-inline"></span>
        </div>
      </div>
      <hr />
      <h4>Contact information</h4>
      <div class="control-group">
        <label class="control-label" for="inputPhone">Contact phone number *</label>
        <div class="controls">
          <input type='text' name="contact_phone" maxlength="100" id="inputPhone" value="{{phone}}" placeholder="555.555.5555"></textarea>
          <span class="help-inline"><em>This will appear on the listing itself.</em></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Contact email address</label>
        <div class="controls">
          <input type='text' name="contact_email" maxlength="100" id="inputEmail" value="{{email}}" placeholder="example@example.com"></textarea>
          <span class="help-inline"><em>This will appear on the listing itself.</em></span>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button id="create-account" type="submit" class="btn btn-primary">Submit your listing</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry"></script>
<script src="{{url_for('static', filename='js/submit.js')}}"></script>
{% endblock %}
