{% extends "layout.html" %}
{% block head %}
<title>Submit a new listing</title>
<meta name="description" content="Submit a new listing">
    <link rel="stylesheet" href="/static/css/submit.css">
{% endblock %}
{% block body %}
<div id="header" class='banner'>
  <div class="container">
    <h1>Step 3: Verify Space Address...</h1>
    <ul>
    <li>Type in the address of the available space.</li>
    <li>Click on the "Look up address" button to verify the USPS address.</li>
    <li>Select the best address and click "Continue".</li>
    <li>All submissions must be approved by an administrator prior to appearing on the site.</li>
    </ul>
  </div>
</div>
<div class='submit'>
  <div class="container">
    <div class="row">
      <div class="span4">
        <form id='address' class="">
          <div class="control-group">
            <span class="help-block"></span>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputAddress">Address</label>
            <div class="controls">
              <input type="text" id="inputAddress" placeholder="Property Address">
              <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button id="lookup-address" type="submit" class="btn btn-primary">Look up address</button>
            </div>
          </div>
        </form>
        <form action='/submission/{{token.key}}/submit' method='post'>
          <input type='hidden' name='latitude' id='latitude'></input>
          <input type='hidden' name='longitude' id='longitude'></input>
          <div class="control-group">
            <label class="muted control-label" for="selectAddress">Please select the best address:</label>
            <div class="controls">
              <select disabled name='formatted-address' id='location-list'></select>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button disabled id="step2" type="submit" class="btn btn-primary">Continue</button>
            </div>
          </div>
        </form>
      </div>
      <div id='map_canvas' class='span8'>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry"></script>
<script src="{{url_for('static', filename='js/submit.js')}}"></script>
<script>
  $('#address').submit(function(){
    codeAddress($('#inputAddress').val());
    return false;
  });
</script>
{% endblock %}
