{% extends "layout.html" %}
{% block head %}
  <title>Submit a new listing</title>
  <meta name="description" content="Submit a new listing">
  <link rel="stylesheet" href="/static/css/submit.css">
{% endblock %}
{% block body %}
<div id="header" class='banner'>
  <div class="container">
    <h1>Step 4: Submit Space Details...</h1>
    <p class='lead muted'>{{address}}</p>
  </div>
</div>
<div class='submit'>
  <div class="container">
    <form data-validate="parsley" class="form-horizontal" method="post" action="/submission/{{token.key}}/submit/step2">
      {% include "submission-form.html" %}
      <hr />
      <div class="control-group">
        <label class="control-label" for="inputDescription">How long should your listing stay active?</label>
        <div class="controls">
          <select name="expires_in_days" id="expiration">
            {% for days in [15, 30, 90, 180, 365] %}   
              <option value='{{days}}' {% if days == 90 %}selected='selected'{%endif%}>{{days}} days</option>
            {% endfor %}
          </select>
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button id="create-account" type="submit" class="btn btn-primary">Submit your listing</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry"></script>
<script src="{{url_for('static', filename='js/submit.js')}}"></script>
<script src="{{url_for('static', filename='js/vendor/parsley.js')}}"></script>
{% endblock %}
