{% extends "layout.html" %}
{% block head %}
    <title></title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/static/css/main.css">
{% endblock %}
{% block body %}
<div class='container'>
  <h1>Thank you</h1>
  <p class='lead'>Thank you for confirming you are a real person (and not a robot). You will receive an email shortly – this is Step 2 of a 4-step process – with a link to complete your submission.  The link provided in the email is the only way to edit your listing in the future - be sure to save it.  If you don't receive the email in the next few minutes, be sure to check your spam folder.</p>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
