html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
h1,
h2,
h3,
h4,
h5 {
  color: #b50900;
}
.heading {
  background: white;
  padding: 20px 0;
}
.heading address {
  text-align: right;
}
.heading .sm-links {
  font-size: 32px;
}
.heading .sm-links a {
  text-decoration: none;
  color: #666;
}
.heading .sm-links a i {
  margin: 0 20px;
}
.heading .sm-links a:hover {
  color: #b50900;
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container {
  width: 940px;
  padding: 0 30px;
}
.container p.pull-right,
.navbar-static-top .container p.pull-right,
.navbar-fixed-top .container p.pull-right {
  margin-left: 10px;
}
.navbar-static-top {
  border: 0;
}
.navbar {
  color: white;
}
.navbar .navbar-inner {
  background: #690500;
  border: 0;
}
.navbar .brand {
  color: white;
  text-shadow: none;
  padding: 20px;
}
.navbar .nav {
  margin-top: 12px;
}
.navbar .nav > li > a {
  color: white;
  text-shadow: none;
}
.navbar .nav > li > a:hover {
  color: #ffc025;
}
.navbar .btn {
  margin-top: 12px;
  background: #ffc025;
  text-shadow: none;
  font-weight: bold;
  border: 1px solid #ffecbe;
  font-style: italic;
  color: #583f00;
  line-height: 30px;
}
.navbar p {
  margin-top: 12px;
}
.footer {
  padding: 15px 0;
  border-top: 1px solid #eee;
}
.footer p {
  margin: 0;
}
body {
  background: #eee;
}
.body-main {
  min-height: 100%;
  background: #fff;
  padding: 30px 0;
}
.description {
  white-space: pre-wrap;
}
