@md-nonprofit-red: #b50900;
html, body{
  height: 100%;
  font-family: Arial,sans-serif;
}

h1, h2, h3, h4, h5{
  color: @md-nonprofit-red;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container{
  width: 940px;
  padding: 0 30px;
}
.navbar-static-top{
  border: 0;
}
.navbar{
  color: white;
  .navbar-inner{
    background: #b50900;
  }
  .brand{
    color: white;
    text-shadow: none;
  }
  .nav{
    >li{
      >a{
        color: white;
        text-shadow: none;
      }
    }
  }
}
.footer{
  padding: 15px 0;
  border-top: 1px solid #eee;
  p{
    margin: 0;
  }
}
body{
  background: #eee;
}
.body-main{
  min-height: 100%;
  background: #fff;
  padding: 30px 0;
}
.description{
  white-space: pre-wrap;
}
