.container,
.navbar-static-top .container,
.navbar-fixed-top .container {
  width: 940px;
  padding: 0 30px;
}
.navbar-static-top {
  border: 0;
}
.footer {
  padding: 15px 0;
  border-top: 1px solid #eee;
}
body {
  background: #eee;
}
.body-main {
  min-height: 480px;
  background: #fff;
  padding: 30px 0;
}
