@md-nonprofit-red: #b50900;
@md-nonprofit-gold: #ffc025;
html, body{
  height: 100%;
  font-family: Arial,sans-serif;
  font-size: 16px;
  line-height: 24px;
}

h1, h2, h3, h4, h5{
  color: @md-nonprofit-red;
}
.heading{
  background: white;
  padding: 20px 0;
  address{ 
    text-align: right;
  }
  .sm-links{ 
    font-size: 32px;
    a{
      text-decoration: none;
      color: #666;
      i{
        margin: 0 20px;
      }
      &:hover{
        color: @md-nonprofit-red;
      }
    }
  }
}

.container, .navbar-static-top .container, .navbar-fixed-top .container{
  width: 940px;
  padding: 0 30px;
  p.pull-right{
    margin-left: 10px;
  }
}
.navbar-static-top{
  border: 0;
}
.navbar{
  color: white;
  .navbar-inner{
    background: darken(@md-nonprofit-red, 15%);
    border: 0;
  }
  .brand{
    color: white;
    text-shadow: none;
    padding: 20px;
  }
  .nav{
    margin-top: 12px;
    >li{
      >a{
        color: white;
        text-shadow: none;
        &:hover{
          color: @md-nonprofit-gold;
        }
      }
    }
  }
  .btn{
    margin-top: 12px;
    background: @md-nonprofit-gold;
    text-shadow: none;
    font-weight: bold;
    border: 1px solid lighten(@md-nonprofit-gold, 30%);
    font-style: italic;
    color: darken(@md-nonprofit-gold, 40%);
    line-height: 30px;
  }
  p{
    margin-top: 12px;
  }
}
.footer{
  padding: 15px 0;
  border-top: 1px solid #eee;
  p{
    margin: 0;
  }
}
body{
  background: #eee;
}
.body-main{
  min-height: 100%;
  background: #fff;
  padding: 30px 0;
}
.description{
  white-space: pre-wrap;
}
