#listing-map {
  height: 480px;
  margin-bottom: 30px;
}
div.dataTables_length label {
  width: 460px;
  float: left;
  text-align: left;
}
div.dataTables_length select {
  width: 75px;
}
div.dataTables_filter label {
  float: right;
}
div.dataTables_info {
  padding-top: 8px;
}
div.dataTables_paginate {
  float: right;
  margin: 0;
}
div.dataTables_paginate a {
  padding: 0 5px;
}
table {
  margin-bottom: 6px !important;
  clear: both;
}
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
}
table.table thead .sorting {
  background: url('/static/img/sort_both.png') no-repeat center right;
}
table.table thead .sorting_asc {
  background: url('/static/img/sort_asc.png') no-repeat center right;
}
table.table thead .sorting_desc {
  background: url('/static/img/sort_desc.png') no-repeat center right;
}
table.table thead .sorting_asc_disabled {
  background: url('/static/img/sort_asc_disabled.png') no-repeat center right;
}
table.table thead .sorting_desc_disabled {
  background: url('/static/img/sort_desc_disabled.png') no-repeat center right;
}
