.photo-row {
  margin-bottom: 20px;
}
.photo-row .photo-holder {
  border: 1px solid #ffc025;
}
.photo-row .photo-holder .the-photo {
  padding: 10px;
  text-align: center;
}
.photo-row .photo-holder .sharing-buttons {
  padding: 10px;
  border-top: 1px solid #ffc025;
  margin: 0;
  text-align: right;
}
